{
    "singleQuote": false,
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "semi": true,
    "editor.formatOnSave": true
}