//blacks
$black: #363636;
$light-black: #34495d;
$dark-black: #2b3a4a;

//blues
$blue: #7ecaee;
$light-blue: #6d9bc3;
$dark-blue: #ebf6ff;

//greys
$black: #d8d8d8;
$light-black: #eaeaea;
$dark-black: #9b9b9b;

//whites
$black: #ffffff;
$light-black: #f8f8f8;
