$font-size-large: 24px;
$font-size-big: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$font-regular: "Open Sans Regular";
$font-italic: "Open Sans Italic";
$font-light: "Open Sans Light";
$font-bold: "Open Sans Bold";
$font-semibold: "Open Sans Semibold";
