$font-size-large: 24px;
$font-size-big: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$font-regular: "Montserrat Regular";
$font-italic: "Montserrat Italic";
$font-light: "Montserrat Light";
$font-bold: "Montserrat Bold";
$font-semibold: "Montserrat Semibold";
